@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Set all elements to use the Open Sans font */
body,
input,
textarea,
button,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.centered_content_container {
  width: 60%;
  margin: auto;
  /* border: 1px solid grey; */
  border-radius: 10px;
  padding: 20px;
}

.home_page_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero_image,
.hero_text {
  display: flex;
  justify-content: center;

  width: 100%;
}

.hero_text {
  align-items: start;
}

header {
  height: 84px;
  background-color: #a9a4f4;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  p {
    margin-right: 40px;
    color: white;
  }
}

.icon {
  height: 75px;
}

.header_left,
.header_right {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-left: 40px;
}

.pickleball_title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #a9a4f4;
  font-size: 64px;
}

.pickleball_icon_text {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 32px;
}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: 0.25em 0.5em;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

table {
  width: 80%;

  tr {
    height: 50px;
  }
}

#id_is_completed {
  zoom: 1.5;
}

form {
  border-radius: 5px;
  padding: 24px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  p {
    display: flex;
    justify-content: start;
    align-items: center;

    label {
      width: 100px;
    }

    input,
    select {
      margin-left: 16px;
    }
  }
}

button,
.create_button {
  border: none;
  background-color: #a9a4f4;
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  text-align: left;
}

.centered_data {
  text-align: center;
}

a {
  text-decoration: none;
}

.table_link:hover {
  color: red;
}

nav {
  ul {
    display: flex;
    align-items: center;
    padding-left: 24px;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
    }
  }
  a {
    margin-left: 24px;
    color: white;
  }

  a:hover {
    color: yellow;
  }
}

.search_form {
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  padding: 0;

  button {
    margin: 0 16px;
  }

  button:hover {
    color: yellow;
  }
}

.ordered_players {
  width: 30%;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      margin-left: 16px;
    }
  }
}

.player_list_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-content: start;
  border: none;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .input_holder {
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        margin-left: 16px;
      }
    }
  }

  .form_right {
    justify-content: start;
    display: flex;
    flex-direction: row;
    align-items: center;

    .select_num_courts {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 16px;

      label {
        margin-left: 16px;
      }
    }
  }
}

.team {
  background-color: yellow;
  padding: 5px;
  margin-left: 8px;
}

.team1 {
  margin-right: 8px;
}

.sitting_out_container {
  background-color: #a9a4f4;
  padding: 5px 8px;
  color: white;
  display: inline-block;
}

.new_player_input {
  margin-bottom: 16px;
}

.schedule_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    width: auto;
  }
}

.ordered_list li::marker {
  font-size: 24px;
  font-weight: bold;
}

.ordered_list li a h2 {
  color: black;
  font-size: 24px;
  display: inline-block;
  padding: 5px 8px;
}

.ordered_list h2:hover {
  background-color: yellow;
}

.remove_text {
  display: none;
}

.remove_player:hover {
  color: red;
}

.remove_player:hover + .remove_text {
  display: inline-block;
  color: red;
}

.player_number {
  width: 10px;
  text-align: right;
  padding-right: 8px;
}

.player_name {
  width: 150px;
}

form.next_round {
  width: 150px;
  border: none;
  box-shadow: none;
  padding: 0;
}

.schedule_heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
