{% extends "base.html" %}
{% load static %}
{% block title %}
    Pickleball Shuffle
{% endblock title %}
{% block content %}
    <main>
        <div class = 'home_page_content'>
            <div class = "hero_image">
                <img src="https://th.bing.com/th/id/OIP.m6HU6tmvg76fRz9w4qp2uAAAAA?rs=1&pid=ImgDetMain">
            </div>
            <div class="hero_text">
                <h1 class = "pickleball_title">Pickleball Shuffle</h1>
            </div>
        </div>
    </main>
{% endblock content %}
