{% extends "base.html" %}
{% load static %}
{% block title %}
    Pickleball Shuffle
{% endblock title %}
{% block content %}
    <main>
        <div class = 'home_page_content'>
            <div class = "hero_image">
                <img src="https://static.wixstatic.com/media/ec54b5_4aca1cdd53064a6fad485166a4e03366~mv2.jpg/v1/fill/w_645,h_372,q_90/ec54b5_4aca1cdd53064a6fad485166a4e03366~mv2.jpg">
            </div>
            <div class="hero_text">
                <div class = 'hero_text_container'>
                    <h1 class = "pickleball_title">Pickleball Shuffle</h1>
                    <p>Never play with the same player twice!</p>
                    {% if user.username %}
                        <a href="{% url "players_list_create" %}"class = "create_button">Get started</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
