<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    Edit player list
{% endblock title %}
{% block content %}
    <main>
        <div class="centered_content_container">
            <h1>{{ list.title }}</h1>
            <form class="player_list_form"
                  id="create_players_list_form"
                  action="{% url "list_games" list.id %}"
                  method="post">
                {% csrf_token %}
                <div>
                    <div class = "form_top">
                        <h2>Player list: {{ list.players.all.count }} players</h2>
                        <div class="form_right">
                            <div class="select_num_courts">
                                <select name="num_courts" id="num_courts">
                                    <option value=1>1</option>
                                    <option selected="selected" value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                </select>
                                <label for="num_courts">select number of courts</label>
                            </div>
                            <button type="submit" name="create_schedule" class="create_button">Generate Schedule</button>
                        </div>
                    </div>
                    <div id="player-inputs">
                        <div class = "input_holder">
                            <input id="newPlayerInput"
                                   type="text"
                                   name="new_players"
                                   placeholder="New Player"
                                   autofocus>
                            <button id="addPlayerBtn" type="button" onClick ="saveInput()">Add player</button>
                        </div>
                    </div>
                    <table>
                        <tbody>
                            {% for player in list.players.all %}
                                <tr>
                                    <td class ="player_number">{{ forloop.counter }}.</td>
                                    <td class ="player_name"id = 'player-name-{{ player.id }}'>{{ player.name }}</td>
                                    <td>
                                        <a class="trash" href="{% url "delete_player" list.id player.id %}"><i class="fas fa-trash-alt"></i></a>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </main>
        <script>
       function saveInput(event){
            var input = document.querySelector('input[name="new_players"]');
            var playerName = input.value.trim();
            if(playerName===''){
               alert("Please enter a new player before you save")
               return;
            }
            var listId = {{ list.id }};
            var url = "{% url 'save_player' 0 'player_name' %}".replace('0', listId).replace('player_name', encodeURIComponent(playerName));
            window.location.href = url;
        };
        document.getElementById('create_players_list_form').addEventListener('keydown', function(event) {
            if (event.key === 'Enter' && event.target.tagName === 'INPUT') {
                event.preventDefault();
            }
        });
        document.addEventListener('DOMContentLoaded', function() {
            setTimeout(function() {
                document.getElementById('newPlayerInput').focus();
            }, 100); // Adjust delay as needed
        });
        </script>
    {% endblock content %}
