{% extends "base.html" %}
{% block title %}
    Schedule of Games
{% endblock title %}
{% block content %}
    <main>
        <h1>Schedule of Games for {{ list_title }}</h1>
        {% if not schedule %}<p>Something went wrong!  Have you entered at least 4 players?</p>{% endif %}
        {% for round_games in schedule %}
            <h2>Round {{ forloop.counter }}</h2>
            {% for game in round_games %}
                {% if not forloop.last %}<p>Court {{ forloop.counter }}: {{ game }}</p>{% endif %}
            {% endfor %}
            <p>Sitting out: {{ round_games|last }}</p>
        {% endfor %}
    </main>
{% endblock content %}
