{% extends "base.html" %}
{% block title %}
    Schedule of Games
{% endblock title %}
{% block content %}
    <main>
        <div class = "centered_content_container">
            <div class = "schedule_heading">
                <h1>Schedule of Games for {{ list_title }}</h1>
                <a class="create_button"
                   href="{% url "regenerate_schedule" list_id num_courts %}">regenerate schedule</a>
            </div>
            {% if not schedule %}<p>Something went wrong!  Have you entered at least 4 players?</p>{% endif %}
            {% for round in schedule %}
                <h2>Round {{ forloop.counter }}</h2>
                {% for game in round.games %}
                    <p>
                        Court {{ forloop.counter }}: <span class = 'team'>{{ game.team1_player1 }} and {{ game.team1_player2 }}</span>  versus <span class = "team">{{ game.team2_player1 }} and {{ game.team2_player2 }}</span>
                    </p>
                {% endfor %}
                <p>
                    Sitting out:
                    <span class='sitting_out_container'>
                        {% for player in round.sitting_out %}
                            {% if forloop.last and round.sitting_out|length >= 2 %}
                                <span class = "sitting_out">and {{ player }}</span>
                            {% elif round.sitting_out|length <= 2 %}
                                <span class = "sitting_out">{{ player }}</span>
                            {% else %}
                                <span class = "sitting_out">{{ player }},{{" "}}</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                </p>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
